<div class="help-card">

	<p class="question">What will people see when they click on my link?</p>
	<p class="answer">Something like this:</p>
	<div class="help-image">
		<img src="images/sample_post.png">
	</div>
	<br>
	<p class="question">I left some fields blank, but they showed up on Facebook anyway.  What gives?</p>
	<p class="answer">Facebook automatically tries to fill in the picture, title, caption, and description of a link when you share it.  If the linked page doesn't have any <a href="http://davidwalsh.name/facebook-meta-tags">og meta tags</a>, it uses the title of the page as the title, the url of the link as the caption, the first paragraph on the page as the description, and the first picture on the page that measures at least 200px by 200px as the picture.</p>
	<br>
	<p class="question">Why do I need a link to a picture?  Why can't I just upload one?</p>
	<p class="answer">ShareURL is a personal project, and in order to keep it free, I can't store images.  However, <a href="http://photobucket.com/">http://photobucket.com/</a> and <a href="http://postimg.org/">http://postimg.org/</a> are great options for image hosting.</p>
	<br>
	<p class="question">Why does the picture have to be at least 200px by 200px?</p>
	<p class="answer">Facebook will ignore any picture that isn't large enough. It will resize larger images and crop wider or taller images to fit in the box (shown above).  Generally, square images work best.</p>
	<br>
	<p class="question">What's the difference between a caption and a description?</p>
	<p class="answer">A caption is one line of text that appears immediately underneath the title.  The description can be many lines of text and appears below the title and caption.</p>
	<br>
	<p class="question">What's an app ID and a redirect URI?</p>
	<p class="answer">If you have a Facebook developer account and a Facebook application, you have an app ID and a redirect URI.  You can plug these in under 'Advanced Options.'  If you use these, you'll be able to track your shares using <a href="https://www.facebook.com/insights/">Facebook's App Insights</a>.  Additionally, once someone clicks the share link and posts to facebook, they will be redirected to your app's site.  If you have a Facebook App, I recommend using your credentials for these reasons.</p>
	<br>
	<p class="question">What about Twitter?</p>
	<p class="answer">There's already a great free service for crafting tweet links.  Check out <a href="http://clicktotweet.com/basic">clicktotweet.com</a>.</p>
</div>