<h1>Welcome!</h1>

<form method="post" action="/make_url">
	<p>if you have a facebook app, put your app's id here.</p>
	<input type="number" name="app_id" placeholder="App ID">
	<p>if you have a facebook app, put your app's redirect uri here.</p>
	<input type="text" name="redirect_uri" placeholder="Application URL">
	<p>Put the link you would like to share here.</p>
	<input type="text" name="link" placeholder="link">
	<p>If you want to include a custom picture, put the url here.  If you don't specify a picture, and the page you're linking to doesn't specify a picture, facebook will display the first image on the page.</p>
	<input type="text" name="picture_link" placeholder="Picture URL">
	<p>This is the title of your shared link</p>
	<input type="text" name="name" placeholder="title">
	<input type="text" name="description" placeholder="description">
	<input type="text" name="caption" placeholder="caption">
	<input type="text" name="source" placeholder="URL of SWF or MP3 file">
	<input type="submit" value="create link">
</form>