<div class="splash-container">
	<div class="above-fold">
		<img src="images/logo.png">
		<h1>ShareURL lets you create custom Facebook sharing links</h1>
		<button><a href="/make_a_link">Make One Now!</a></button>
	</div>
	<div class="below-fold-1">
		<h1>Create Customized Shareables for Your Users</h1>
		<p>Help your users celebrate milestones by sharing badges through Facebook.</p>
		<p>Create coupon campaigns that can go viral.</p>
		<p>...Or share something else entirely!  The choice is yours.</p>
	</div>
	<div class="below-fold-2">
		<h1>Use Your Links Anywhere</h1>
		<p>Since your customized link has all the information it needs in the url, you can use it anywhere, including an email!</p>
	</div>
</div>