<div class="splash-container">
	<h1>ShareURL lets you create custom Facebook sharing links</h1>
	<p>Create Customized sharing links and stories</p>
	<p>Create Badges</p>
	<p>Since your customized link has all the information it needs in the url, you can use it anywhere, including emails!</p>
	<img src="images/share_url_example_2.png">
</div>