<div class="splash-container">
	<div class="above-fold">
		<img src="images/logo.png">
		<h1>ShareURL lets you create custom Facebook sharing links</h1>
		<button><a href="/make_a_link">Make One Now!</a></button>
	</div>
	<div class="below-fold one">
		<h1>Help your users celebrate milestones by sharing badges through Facebook.</h1>
		<img src="/images/busiest_burrito.png">
	</div>
	<div class="below-fold two">
		<h1>Create coupon campaigns that can go viral.</h1>
		<img src="/images/free_burrito.png">
		<h1>...Or share something else entirely!  The choice is yours.</h1>
	</div>
	</div>
	<div class="below-fold three">
		<h1>Use Your Links Anywhere</h1>
		<p>Since your customized link has all the information it needs in the url, you can use it anywhere, including an email!</p>
	</div>
</div>