<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="application.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/application.js"></script>
	<title>Create Custom Facebook Share Links</title>
</head>

<body>
	<%= yield %>
</body>

</html>